@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 3;
    transform: none;
  }
}

.todo_input_form {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 65%;
  bottom: 52.5%;
  height: 4%;
  z-index: 100;
}
.todo_input {
  border-radius: 7px;
  border: none;
  width: 50%;
  height: 100%;
  text-align: center;
  font-size: 25px;
  font-weight: var(--weight);
  color: gray;
}
.todo_input::placeholder {
  font-size: 20px;
  color: gray;
}
.todo_input:focus {
  outline: none;
}
.todo_input:focus::-webkit-input-placeholder {
  color: transparent;
}
/* todo_input_box */

.todo_box {
  position: absolute;
  width: 50%;
  height: 45%;
  bottom: 55px;
  border-radius: 20px;
}
/* toto-total box */

.todo_click_box {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 15px;
  width: 300px;
  height: 40px;
}
.click_todolist {
  cursor: pointer;
  font-size: 23px;
  color: var(--white);
  font-weight: var(--weight);
}
.closeIcon {
  cursor: pointer;
  color: rgb(255, 2, 2);
  zoom: 1.6;
}
/* todo-bottom-click-box */

.todolist_title_box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 10%;
}
.pending_box {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-left-radius: 10px;
  margin-right: 3px;
  margin-bottom: 3px;
  width: 50%;
  height: 100%;
  font-size: 20px;
  font-weight: var(--weight);
}
.success_box {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-right-radius: 10px;
  margin-left: 3px;
  margin-bottom: 3px;
  width: 50%;
  height: 100%;
  font-size: 20px;
  font-weight: var(--weight);
}
.pending_list_ul {
  font-size: 25px;
}
.success_list_ul {
  font-size: 25px;
}
/* todo-Title-box */

.list_box {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 90%;
}
.pending_list {
  border-bottom-left-radius: 10px;
  margin-right: 3px;
  margin-top: 3px;
  width: 50%;
  height: 100%;
}
.success_list {
  border-bottom-right-radius: 10px;
  margin-left: 3px;
  margin-top: 3px;
  width: 50%;
  height: 100%;
}
/* list_box */
.li_style {
  cursor: pointer;
  margin-left: 15px;
  margin-top: 3px;
  opacity: 0.5;
}

.text_center_line {
  text-decoration: line-through;
}

#display_none {
  display: none;
}
