.top_box {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 100px;
  z-index: 1;
}

.weather_box {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;
  width: 100%;
  height: 100%;
  margin-right: 20px;
  margin-top: 1%;
}

.weather__com {
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 600;
  color: var(--white);
}
