@import "component/weather.css";
@import "component/years.css";
@import "component/time.css";
@import "component/greeting.css";
@import "component/focus_todo.css";
@import "component/todolis.css";

body {
  width: 100%;
  height: 100%;
  margin: 0%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: -1;
}

:root {
  --white: white;
  --weight: 1000;
}

.display_none {
  display: none;
}

.display_block {
  display: block;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 3;
    transform: none;
  }
}

.animation {
  animation: fadeIn 0.5s ease-in-out;
}

.bgImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
