@import "component/weather.css";
@import "component/years.css";
@import "component/time.css";
@import "component/greeting.css";
@import "component/focus_todo.css";

body {
  width: 100%;
  height: 100%;
  margin: 0%;
  background-color: rgba(0, 0, 0, 0.5);
}

:root {
  --white: rgb(255, 255, 255);
  --weight: 700;
}
